* {
    box-sizing: border-box; /*propiedad que permite que las dimensiones de los objetos cuadren, teniendo en cuenta el padding y border en el ajuste */
}
h1 {
    font-family: "Calibri";
    font-size: 3rem;
    color: #825294;
}

body {
    font: 1rem "Cambria"; /* si se pone font puedes poner varias propiedades de fuente a la vez */
    color: rgb(105, 25, 11);
}

#mort {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.fila {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.col {
    width: 400px;
    height: 400px;
    background-color:rgb(245, 188, 31);
}
form {
    display: flex;
    flex-direction: column;
    gap: auto;
    padding: 20px;
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}




