*{
    box-sizing: border-box;
    background-color: orange;

}
h1{
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    color: rgb(253, 253, 253);
    text-shadow: 2px 2px 4px black;
}
.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img{
    width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 10px solid white;
    box-shadow: 4px 4px 8px black;
    margin: 30px;
}